@font-face
{
  font-family: 'symbols-nerds';
  font-style: normal;
  font-weight: normal;

  src: url('../fonts/symbols-nerds.woff') format('woff'),
  url('../fonts/symbols-nerds.woff2') format('woff2');
}

[class^='icon-']::before,
[class*=' icon-']::before
{

  display: inline-block;
  font-family: 'symbols-nerds';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  margin-left: .2em;
  margin-right: .2em;

  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  width: 1em;

  speak: none;
}

.icon-basket::before
{
  content: '\62';
} /* "b" */

.icon-facebook::before
{
  content: '\66';
} /* "f" */

.icon-twitter::before
{
  content: '\74';
} /* "t" */

.icon-vk::before
{
  content: '\76';
} /* "v" */

.icon-up-dir::before
{
  content: '\25b2';
} /* "▲" */

.icon-down-dir::before
{
  content: '\25bc';
} /* "▼" */

.icon-circle::before
{
  content: '\25cb';
} /* "○" */

.icon-circle-dot::before
{
  content: '\25cf';
} /* "●" */

.icon-check-off::before
{
  content: '\2610';
} /* "☐" */

.icon-check-on::before
{
  content: '\2611';
} /* "☑" */

.icon-instagramm::before
{
  content: '📷';
} /* "\1f4f7" */

body
{
  background-color: #fff;

  color: #000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin: 0;

  min-width: 900px;
  padding: 0;
}

h1
{

  color: #000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

h2
{

  color: #000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;

  text-transform: uppercase;
}

.clearfix::after
{
  clear: both;

  content: '';
  display: table;
}

.container
{
  margin: 0 auto;
  padding: 0 10px;
  width: 880px;
}

.page-header
{
  background-color: #eee;

  color: #000;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.main-header
{
  margin-bottom: 40px;
}

.main-logo
{
  float: left;
  padding-top: 27px;

  width: 140px;
}

.main-logo img
{
  vertical-align: top;
}

.main-navigation
{

  float: left;
  font-size: 0;

  list-style: none;
  margin: 0;
  padding: 0;

  text-align: right;

  width: 578px;
}

.main-navigation li
{

  display: inline-block;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;

  padding: 0;
  padding-left: 45px;
  padding-top: 56px;
  text-transform: uppercase;

  vertical-align: top;
}

.current
{

  display: block;
  position: relative;

  pointer-events: none;
}

.current::before
{

  background-color: #fb565a;
  bottom: 2px;

  content: '';
  height: 2px;
  position: absolute;

  width: 100%;
}

.main-navigation a
{

  color: #000;
  display: block;

  text-decoration: none;
}

.main-navigation a:hover
{
  color: #f87f81;
}

.main-navigation a:active
{
  color: #afafaf;
}

.buy
{
  float: right;

  width: 150px;
}

.cart
{

  color: #000;

  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;

  padding: 0;
  padding-top: 56px;
  text-decoration: none;
  text-transform: uppercase;

  vertical-align: top;
}

.cart:hover
{
  color: #f87f81;
}

.cart:active
{
  color: #afafaf;
}

.cart span
{

  color: #a6a6a6;
  font-family: 'symbols-nerds';
  font-size: 16px;

  padding-right: 15px;
  text-transform: lowercase;

  vertical-align: top;
}

.buy:hover span
{
  color: #fb565a;
}

.buy:active span
{
  color: #cbcbcb;
}

.btn
{
  border: none;
  border-radius: 5px;

  color: #fff;

  display: inline-block;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 12px;

  height: 40px;
  margin-top: 25px;
  outline: none;

  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.slider input[type='radio']
{

  opacity: 0;
  position: absolute;
}

.slider
{
  clear: both;

  display: block;
  min-height: 310px;
  padding: 0;
  position: relative;

  width: 880px;
}
.slider-controls
{
  bottom: 95px;
  height: 10px;
  left: 50%;
  margin-left: -100px;
  position: absolute;

  text-align: center;

  width: 200px;
  z-index: 100;
}
.slider-controls label
{
  background: #fff;

  border: 3px solid #fff;
  border-radius: 50%;

  cursor: pointer;
  display: inline-block;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;

  width: 4px;
}

#btn-1:checked ~ .slider-controls label[for='btn-1'],
#btn-2:checked ~ .slider-controls label[for='btn-2'],
#btn-3:checked ~ .slider-controls label[for='btn-3']
{
  background-color: #c1c1c1;
}

.slider-controls .active
{
  background-color: #c1c1c1;
}

.slide
{
  height: 100%;
  left: 0;

  overflow: hidden;
  position: absolute;
  top: 0;

  width: 100%;
}
.slide-text
{
  font-size: 16px;
  line-height: 22px;
  padding: 30px 0;

  width: 470px;
}

.slide-title
{

  color: #000;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;

  min-width: 470px;
}

.slider-btn
{
  background: #fb565a;
  border-radius: 5px;

  color: #fff;

  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 30px;
  padding: 10px 0;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  width: 240px;
}

.slide a.slider-btn:active
{
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.3);
  color: #fff;
  opacity: 1.0;
}

.slide .slider-btn:hover
{
  background-color: #d6494d;
  color: #fff;
}

.slide:nth-child(1)
{
  background-color: #eee;
  background-image: url('../img/slider-bg-1.png');
  background-position: 100% 10px;
  background-repeat: no-repeat;
}

.slide:nth-child(2)
{
  background-color: #eee;
  background-image: url('../img/slider-bg-2.png');
  background-position: 100% 10px;
  background-repeat: no-repeat;
}

.slide:nth-child(3)
{
  background-color: #eee;
  background-image: url('../img/slider-bg-3.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.slide
{
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1)
{
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2)
{
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3)
{
  display: block;
}

/* .features {
 margin-bottom: 80px;
} */

.features-item
{
  float: left;
  margin-bottom: 80px;
  margin-right: 80px;
  min-height: 300px;

  width: 240px;
}

.features-item:nth-child(3)
{
  margin-right: 0;
}

.features p
{
  font-size: 15px;
  line-height: 22px;

  margin-bottom: 27px;
}

.features-item .btn
{

  box-sizing: border-box;
  display: block;
  margin: 0;
  padding-top: 10px;

  text-decoration: none;
  width: 140px;
}

.btn-red
{
  background: #fb565a;
}

.btn-red:hover
{
  background-color: #d6494d;
}

.btn-red:active
{
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.3);
}

.btn-green
{
  background: #00ca74;
}

.btn-green:hover
{
  background-color: #01a25e;
}

.btn-green:active
{
  background-color: #009053;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.3);
}

.btn-yellow
{
  background: #efc84a;
}

.btn-yellow:hover
{
  background-color: #d6ae2c;
}

.btn-yellow:active
{
  background-color: #c09b24;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.3);
}

.index-content
{

  border-top: 2px solid #eee;
  margin-bottom: 60px;
}

.index-content-left
{
  float: left;
  margin-right: 20px;
  margin-top: 45px;

  width: 620px;
}

.studio-title
{
  margin-bottom: 18px;
}

.index-content-left p
{
  margin-bottom: 45px;
}

.studio-offer-list
{

  list-style: none;
  margin: 0;
  padding: 0;
}

.studio-offer-list li
{

  padding: 8px 0 10px 0;
  padding-left: 35px;
  position: relative;
}

.studio-offer-list li:before
{

  background-color: #fb565a;

  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 17px;

  width: 25px;
}

.index-content-right
{
  float: left;
  margin-top: 60px;

  width: 240px;
}

.index-content-left .studio-offer
{
  margin-bottom: 20px;
  margin-top: 30px;
}

.index-content-right .studio-offer
{
  margin-bottom: 20px;
  margin-top: 60px;
}

.studio-offer
{
  text-transform: uppercase;
}

.partner
{
  border-bottom: 2px solid #eee;

  border-top: 2px solid #eee;
  margin-bottom: 82px;

  min-height: 170px;
  position: relative;
}

.partner-member
{

  display: inline-block;
  line-height: 168px;
  margin-right: 85px;

  opacity: .5;
  padding-left: 10px;

  vertical-align: top;

  width: 220px;
}

.partner-member:hover,
.partner-member:active
{
  opacity: 1.0;
}

.partner-member  img
{
  vertical-align: middle;
}

.partner-member:nth-child(3)
{
  margin-right: 0;
}

/* === catalog.html === */
.catalog-title
{

  background-color: #eee;
  min-height: 180px;
}

.catalog-title div
{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin: 60px auto;

  text-align: center;
  text-transform: uppercase;

  width: 700px;
}

.catalog-content
{
  margin-bottom: 78px;
  min-height: 1130px;
}

.catalog-content-title
{
  margin: 0;
  margin-bottom: 10px;
}

.catalog-content-left
{
  float: left;

  width: 240px;
}

.range-filter
{
  margin-bottom: 50px;
}

.range-controls
{
  background: #f1f1f1;

  border-radius: 5px;

  height: 80px;
  margin-bottom: 15px;

  overflow: hidden;
  padding: 0 30px;
  position: relative;
}

.range-controls .scale
{

  background: #d7dcde;
  height: 2px;
  margin-top: 39px;
}

.range-controls .bar
{

  background: #00ca74;
  height: 2px;
  width: 80%;
}

.range-controls .toggle
{
  background: #ababab;

  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
  height: 4px;
  left: 20px;
  position: absolute;
  top: 30px;

  width: 4px;
}

.range-controls .toggle:hover
{
  background: #d7dcde;
}

.range-controls .max-toggle
{
  left: 160px;
}

.price-controls input
{
  background: #f1f1f1;

  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 7px 10px;

  text-align: center;
  width: 60px;
}

.price-controls
{
  position: relative;
}

.price-controls div
{
  position: absolute;
  right: 0;
  top: 0;
}

.catalog-radio-title
{
  margin-bottom: 7px;
}
.catalog-checkbox-title
{
  margin-bottom: 7px;
  margin-top: 33px;
}

input[type='radio'],
input[type='checkbox']
{
  display: none;
}

input[type='radio'] + label,
input[type='checkbox'] + label
{

  color: #283136;

  cursor: pointer;

  display: block;
  line-height: 1.25;

  padding: 10px 0;
  padding-left: 35px;

  position: relative;
}

input[type='radio'] + label:before
{

  color: #c1c1c1;

  content: '\25cb';

  display: inline-block;
  font-family: symbols-nerds;
  font-size: 1.7em;
  font-weight: 500;
  left: 0;

  position: absolute;
  text-align: center;
  top: 3px;
  vertical-align: baseline;
}

input[type='checkbox'] + label:before
{

  color: #c1c1c1;

  content: '\2610';

  display: inline-block;
  font-family: symbols-nerds;
  font-size: 1.7em;
  font-weight: 300;
  left: 0;

  position: absolute;
  text-align: center;
  top: 3px;
  vertical-align: baseline;
}

input[type='radio']:checked + label:after
{

  color: #c1c1c1;

  content: '\25cf';

  display: inline-block;
  font-family: symbols-nerds;
  font-size: 1.7em;
  font-weight: 500;
  left: 0;

  position: absolute;
  text-align: center;
  top: 3px;
}

input[type='checkbox']:checked + label:after
{

  color: #c1c1c1;

  content: '\2611';

  display: inline-block;
  font-family: symbols-nerds;
  font-size: 1.7em;
  font-weight: 500;
  left: 0;

  position: absolute;
  text-align: center;
  top: 3px;
  vertical-align: baseline;
}

input[type='radio']:hover + label:before,
input[type='radio']:checked:hover + label:after,
input[type='checkbox']:hover + label:before,
input[type='checkbox']:checked:hover + label:after
{
  color: #b5b5b5;
}

input[type='radio'] + label:hover,
input[type='checkbox'] + label:hover
{
  color: #000;
}

.filter-btn
{
  background-color: #f1f1f1;

  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 48px;

  width: 154px;
}

.catalog-content-right
{
  float: right;
  margin-bottom: 0;
  padding: 0;

  width: 560px;
}

.sorting
{
  margin-bottom: 18px;
}

.sorting span
{

  display: inline-block;
  font-size: 12px;
  line-height: 18px;

  margin: 0;
  margin-right: 40px;
  padding: 0;
  text-transform: uppercase;

  vertical-align: top;
}

.sorting a
{

  display: inline-block;
  font-size: 12px;
  line-height: 18px;

  margin: 0;
  margin-right: 40px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;

  vertical-align: top;
}

.sorting-option
{
  border-bottom: 1px dotted #00ca74;

  color: #b2b2b2;
  cursor: pointer;
}

.sorting-option:hover
{
  border-bottom: 1px solid #00ca74;
  color: #000;
}

.sorting-option:active
{
  border-bottom: none;
  color: #000;
}

.sorting a:nth-child(4)
{
  margin-right: 80px;
}

.sorting a:nth-child(5),
.sorting a:nth-child(6)
{
  font-size: 23px;
  margin-left: 8px;
  margin-right: 0;

  vertical-align: top;

  width: 4px;
}

.icon-down-dir,
.icon-up-dir
{

  color: #c1c1c1;

  cursor: pointer;
  font-family: 'symbols-nerds';
  font-style: normal;
  font-weight: 500;
  vertical-align: bottom;
}

.icon-down-dir
{
  color: #00ca74;
}

.icon-down-dir:hover,
.icon-up-dir:hover
{
  color: #b5b5b5;
}

.icon-down-dir:active,
.icon-up-dir:active
{
  color: #000;
}

.catalog-content-item
{
  margin-bottom: 0;
  padding: 0;
}

.item
{
  background-color: #f1f1f1;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  display: inline-block;
  float: left;
  height: 240px;
  margin-bottom: 80px;
  margin-right: 80px;
  padding-top: 30px;
  position: relative;

  width: 240px;
}

.item:hover
{
  background: #797979;
}

.item:nth-child(2n)
{
  margin-right: 0;
}

.item::before,
.item::after
{
  background: #fff;

  border-radius: 50%;

  content: '';
  height: 10px;
  left: 10px;
  position: absolute;
  top: 10px;

  width: 10px;
}

.item::after
{
  left: 28px;
}

.item-img
{
  position: relative;
}

.item-img::before
{
  background: #fff;

  border-radius: 50%;

  content: '';
  height: 10px;
  left: 46px;
  position: absolute;
  top: -20px;

  width: 10px;
}

.item-content
{

  background: #fff;

  display: none;
  height: 200px;
  left: 20px;
  position: absolute;
  top: 50px;

  width: 200px;
}

.item-title
{

  color: #000;

  display: block;
  font-size: 18px;
  line-height: 22px;

  margin: 30px 0 15px 0;
  padding: 0;

  text-align: center;
  text-decoration: none;
}

.item-description
{
  font-size: 14px;
  line-height: 18px;

  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  text-align: center;
}

.btn-item
{

  background-color: #fb565a;
  font-size: 18px;
  margin: 0 30px;

  width: 140px;
}

.btn-item:hover
{
  background-color: #d6494d;
}

.btn-item:active
{
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.3);
}

.item:hover .item-content
{
  display: block;
}

.paginator a
{
  background: #f1f1f1;
  border-radius: 3px;

  color: #000;

  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 5px;
  padding: 10px 0;

  text-align: center;
  text-decoration: none;
  vertical-align: baseline;

  width: 38px;
}

.paginator .current-page
{
  background: #fff;

  border: 2px solid #f2f2f2;
  padding: 8px 0;
  width: 35px;

  pointer-events: none;
}

.paginator .next-page
{
  width: 140px;
}

.paginator a:hover
{
  background: #e5e5e5;
}

.paginator a:active
{
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

/* === bottom === */
.main-contact
{

  height: 416px;
  margin-bottom: 78px;

  overflow: hidden;
  position: relative;

  /*background-image: url("../img/cont-map.jpg");
 background-repeat: no-repeat;
 background-position: 50% 50%;
 background-color:  #e9e5dc;
 background-size: cover;*/
}

.main-contact-address
{

  background-color: #fff;

  box-sizing: border-box;
  left: 50%;
  margin-left: -440px;
  /*min-height: 240px;*/
  padding: 22px;
  position: absolute;
  top: 50%;
  /*margin-top: -120px;*/

  transform: translateY(-50%);
  width: 240px;
}

.main-contact-address-title
{
  line-height: 30px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

.main-contact-address p
{

  color: #666;
  line-height: 20px;

  margin: 0;
  margin-top: 18px;
  padding: 0;
}

.btn-mail
{
  background: #fb565a;
  border: none;
  border-radius: 5px;

  box-sizing: border-box;

  color: #fff;

  display: block;
  font-size: 12px;
  margin: 0;
  margin-top: 25px;
  outline: none;
  padding: 10px 30px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}

.btn-mail:hover
{
  background-color: #d6494d;
  color: #fff;
}

.btn-mail:active
{
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.3);
  color: #fff;
}

.map
{

  background-color: #e9e5dc;
  background-image: url('../img/cont-map.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 416px;
}
.map iframe
{
  height: 416px;
  width: 100%;
}

.main-footer
{
  background-color: #fff;

  color: #000;
  margin: 0 auto;
  min-height: 140px;
}

.footer-social
{
  float: left;
  min-height: 60px;

  width: 320px;
}

.footer-social a
{
  font-size: 0;

  text-decoration: none;
}

.footer-offer
{
  float: left;
  min-height: 70px;

  width: 550px;
}

.footer-offer-title
{

  color: #000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;

  margin: 0;
}

.footer-offer p
{
  margin-top: 8px;
}

.social-btn
{
  background: #e1e1e1;

  border-radius: 50%;

  float: left;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  line-height: 50px;
  margin-right: 30px;

  position: relative;

  text-align: center;
  text-decoration: none;

  width: 60px;
  z-index: 1;
}

.social-btn:hover
{
  background-color: #fb565a;
}

.social-btn:active
{
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 0 #b63e42;
}

.social-btn-vk::before
{

  color: #fff;

  content: '\76';

  display: inline-block;
  font-family: symbols-nerds;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: 15px;
  line-height: 20px;
  margin-left: 4px;
  margin-right: 4px;

  position: absolute;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  top: 20px;
  vertical-align: baseline;

  width: 20px;
  z-index: 100;
}

.social-btn-fb::before
{

  color: #fff;

  content: '\66';

  display: inline-block;
  font-family: symbols-nerds;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: 15px;
  line-height: 20px;
  margin-left: 4px;
  margin-right: 4px;

  position: absolute;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  top: 20px;
  vertical-align: baseline;

  width: 20px;
  z-index: 100;
}

.social-btn-inst::before
{

  color: #fff;

  content: '📷';

  display: inline-block;
  font-family: symbols-nerds;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: 15px;
  line-height: 20px;
  margin-left: 4px;
  margin-right: 4px;

  position: absolute;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  top: 20px;
  vertical-align: baseline;

  width: 20px;
  z-index: 100;
}

/* pop-up */
.modal-content
{
  background-color: #fff;
  box-shadow: 0 0 45px rgba(0, 0, 0, .4);

  box-sizing: border-box;

  color: #000;
  font-size: 16px;
  font-weight: 500;
  height: 415px;
  left: 50%;
  line-height: 18px;
  margin-left: -315px;
  margin-top: -207px;
  padding: 55px 90px 0 80px;

  position: fixed;
  top: 50%;
  width: 630px;
  z-index: 100;
}

.modal-content .left-column-form
{
  float: left;
}

.modal-content .right-column-form
{
  float: right;
}

.footer-form
{
  clear: both;
}

.modal-content input
{
  border: 2px solid #d7dcde;
  border-radius: 3px;

  color: #000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 10px;
  outline: none;
  padding: 8px;

  text-transform: uppercase;

  width: 204px;
}

.modal-content input:hover
{
  border: 2px solid #a2a9ac;
}

.modal-content input:focus
{
  border: 2px solid #56bffb;
}

.modal-content textarea
{
  border: 2px solid #d7dcde;
  border-radius: 3px;

  color: #000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 105px;
  line-height: 18px;
  margin-top: 10px;
  outline: none;
  padding-left: 15px;
  padding-top: 5px;

  resize: none;
  text-transform: uppercase;

  width: 436px;
}

.modal-content textarea:hover
{
  border: 2px solid #a2a9ac;
}

.modal-content textarea:focus
{
  border: 2px solid #56bffb;
}

.modal-content .no-margin
{
  margin-right: 0;
}

.modal-content .btn-form
{
  background: #fb565a;
  border: none;
  border-radius: 5px;

  color: #fff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 40px;
  outline: none;
  padding: 10px;

  text-align: center;
  text-transform: uppercase;

  width: 460px;
}

.modal-content .btn-form:hover
{
  background-color: #d6494d;
  color: #fff;
}

.modal-content .btn-form:active
{
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.3);
  color: #fff;
  opacity: 1.0;
}

.btn-form-close
{
  background-color: #fff;
  background-image: url('../img/mod-cross.png');
  background-position: 0 0;
  background-repeat: no-repeat;

  border: none;
  height: 41px;
  outline: none;
  position: absolute;
  right: 7px;
  top: 7px;

  width: 41px;
}

.modal-content
{
  display: none;
}

.modal-content-show
{

  animation: bounce 1s;
  display: block;
}

@keyframes bounce
{
  0%
  {
    transform: translateY(-1500px);
  }

  70%
  {
    transform: translateY(50px);
  }

  100%
  {
    transform: translateY(0);
  }
}
