@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: 
    url("../fonts/symbols-nerds.woff") format("woff"),
    url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before {
  content: "\62";
  } /* "b" */

.icon-facebook::before {
  content: "\66";
  } /* "f" */

.icon-twitter::before
{ content: "\74";
} /* "t" */

.icon-vk::before {
  content: "\76";
} /* "v" */

.icon-up-dir::before {
  content: "\25b2";
} /* "▲" */

.icon-down-dir::before {
  content: "\25bc";
} /* "▼" */

.icon-circle::before {
  content: "\25cb";
} /* "○" */

.icon-circle-dot::before {
  content: "\25cf";
} /* "●" */

.icon-check-off::before {
  content: "\2610";
} /* "☐" */

.icon-check-on::before {
  content: "\2611";
} /* "☑" */

.icon-instagramm::before {
  content: "📷";
} /* "\1f4f7" */

body {
  min-width: 900px;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family:  "Roboto", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  color: #000000;

  background-color: #eeeeee;
}

.main-header {
  margin-bottom: 40px;
}

.main-logo {
  float: left;
  width: 140px;
  padding-top: 27px;
}

.main-logo img{
  vertical-align: top
}

.main-navigation {
  float: left;
  width: 578px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
  text-align: right;
}

.main-navigation li {
  display: inline-block;

  padding: 0;
  padding-top: 56px;
  padding-left: 45px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  vertical-align: top;
  text-transform: uppercase;
}

.current {
  position: relative;

  display: block;

  pointer-events: none;
}

.current::before {
  content: "";
  position: absolute;
  bottom: 2px;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}

.main-navigation a {
  display: block;

  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #f87f81;
}

.main-navigation a:active {
  color: #afafaf;
}

.buy {
  float: right;
  width: 150px;
}

.cart {
  display: inline-block;
  float: right;
  padding: 0;
  padding-top: 56px;

  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  vertical-align: top;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.cart:hover {
  color: #f87f81;
}

.cart:active {
  color: #afafaf;
}

.cart span {
  padding-right: 15px;

  text-transform: lowercase;
  font-family: "symbols-nerds";
  font-size: 16px;
  vertical-align: top;
  color: #a6a6a6;
}

.buy:hover span {
  color: #fb565a;
}

.buy:active span {
  color: #cbcbcb;
}

.btn {
  display: inline-block;
  height: 40px;
  margin-top: 25px;

  color: #ffffff;
  font-family:  "Roboto", "Arial", sans-serif;
  font-size: 12px;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;

  border: none;
  border-radius: 5px;
  outline: none;
}

.slider input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.slider {
  position: relative;
  clear: both;

  padding: 0;
  display: block;
  width: 880px;
  min-height: 310px;
}
.slider-controls {
  position: absolute;
  z-index: 100;

  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;

  text-align: center;
}
.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;

  vertical-align: top;

  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #c1c1c1;
}

.slider-controls .active {
  background-color: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide-text {
  width: 470px;
  padding: 30px 0;

  font-size: 16px;
  line-height: 22px;
}

.slide-title {
  min-width: 470px;

  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 500;
}

.slider-btn {
  display: block;
  width: 240px;
  padding: 10px 0;
  margin-top: 30px;

  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  background: #fb565a;
  border-radius: 5px;
}

.slide a.slider-btn:active {
  background-color: #b63538;
  color: #ffffff;
  opacity: 1.0;
  box-shadow:inset 0 3px 0 rgba(0,0,0,0.3);
}

.slide .slider-btn:hover {
  background-color: #d6494d;
  color: #ffffff;
}

.slide:nth-child(1) {
  background-image: url("../img/slider-bg-1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
  background-color: #eeeeee;
}

.slide:nth-child(2) {
  background-image: url("../img/slider-bg-2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
  background-color: #eeeeee;
}

.slide:nth-child(3) {
  background-image: url("../img/slider-bg-3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: #eeeeee;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1){
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2){
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3){
  display: block;
}

/* .features {
  margin-bottom: 80px;
} */

.features-item {
  float: left;
  width: 240px;
  min-height: 300px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.features-item:nth-child(3) {
  margin-right: 0;
}

.features p {
  margin-bottom: 27px;

  font-size: 15px;
  line-height: 22px;
}

.btn-red,
.btn-green,
.btn-yellow {
  display: block;
  box-sizing: border-box;
  width: 140px;
  margin: 0;
  padding-top: 10px;

  text-decoration: none;
}

.btn-red {
  background: #fb565a;
}

.btn-red:hover {
  background-color: #d6494d;
}

.btn-red:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.3);
}

.btn-green {
  background: #00ca74;
}

.btn-green:hover {
  background-color: #01a25e;
}

.btn-green:active {
  background-color: #009053;
  box-shadow:inset 0 3px 0 rgba(0,0,0,0.3);
}

.btn-yellow {
  background: #efc84a;
}

.btn-yellow:hover {
  background-color: #d6ae2c;
}

.btn-yellow:active {
  background-color: #c09b24;
  box-shadow:inset 0 3px 0 rgba(0,0,0,0.3);
}

.index-content {
  margin-bottom: 60px;

  border-top: 2px solid #eeeeee;
}

.index-content-left {
  float: left;
  width: 620px;
  margin-right: 20px;
  margin-top: 45px;
}

.studio-title {
  margin-bottom: 18px;
}

.index-content-left p {
  margin-bottom: 45px;
}

.studio-offer-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.studio-offer-list li {
  position: relative;

  padding: 8px 0 10px 0;
  padding-left: 35px;
}

.studio-offer-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.index-content-right{
  float: left;
  width: 240px;
  margin-top: 60px;
}

.index-content-left .studio-offer {
  margin-top: 30px;
  margin-bottom: 20px;
}

.index-content-right .studio-offer {
  margin-top: 60px;
  margin-bottom: 20px;
}

.studio-offer {
  text-transform: uppercase;
}

.partner {
  position: relative;

  min-height: 170px;
  margin-bottom: 82px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
 }

.partner-member {
  display: inline-block;

  width: 220px;
  margin-right: 85px;
  padding-left: 10px;

  line-height: 168px;
  vertical-align: top;

  opacity: .5;
}

.partner-member:hover,
.partner-member:active {
  opacity: 1.0;
}

.partner-member  img {
  vertical-align: middle;
}

.partner-member:nth-child(3) {
  margin-right: 0;
}

 /* === catalog.html === */
 .catalog-title {
  min-height: 180px;

  background-color: #eeeeee;
}

.catalog-title div {
  width: 700px;
  margin: 60px auto;

  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}

.catalog-content {
  min-height: 1130px;
  margin-bottom: 78px;
}

.catalog-content-title {
  margin: 0;
  margin-bottom: 10px;
}

.catalog-content-left {
  float: left;
  width: 240px;
}

.range-filter {
  margin-bottom: 50px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;

  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 20px;

  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle:hover {
  background: #d7dcde;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls input {
  width: 60px;
  padding: 7px 10px;
  margin-left: 10px;

  text-align: center;

  border-radius: 5px;
  border: none;
  background: #f1f1f1;
}

.price-controls {
  position: relative;
}

.price-controls div {
  position: absolute;
  top: 0;
  right: 0;
}

.catalog-radio-title {
  margin-bottom: 7px;
}
.catalog-checkbox-title {
  margin-top: 33px;
  margin-bottom: 7px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
  position: relative;

  display: block;
  padding: 10px 0;
  padding-left: 35px;

  line-height: 1.25;
  color: #283136;

  cursor: pointer;
}

input[type="radio"]+label:before {
  position: absolute;
  left: 0;
  top: 3px;
  content: "\25cb";

  display: inline-block;

  font-family: symbols-nerds;
  font-weight: 500;
  font-size: 1.7em;
  text-align: center;
  color: #c1c1c1;
  vertical-align: baseline;
}

input[type="checkbox"]+label:before {
  position: absolute;
  left: 0;
  top: 3px;
  content: "\2610";

  display: inline-block;

  font-family: symbols-nerds;
  font-weight: 300;
  font-size: 1.7em;
  text-align: center;
  color: #c1c1c1;
  vertical-align: baseline;
}

input[type="radio"]:checked+label:after {
  position: absolute;
  left: 0;
  top: 3px;
  content: "\25cf";

  display: inline-block;

  font-family: symbols-nerds;
  font-weight: 500;
  font-size: 1.7em;
  text-align: center;
  color: #c1c1c1;
}

input[type="checkbox"]:checked+label:after {
  position: absolute;
  left: 0;
  top: 3px;
  content: "\2611";

  display: inline-block;

  font-family: symbols-nerds;
  font-weight: 500;
  font-size: 1.7em;
  text-align: center;
  color: #c1c1c1;
  vertical-align: baseline;
}

input[type="radio"]:hover+label:before,
input[type="radio"]:checked:hover+label:after,
input[type="checkbox"]:hover+label:before,
input[type="checkbox"]:checked:hover+label:after {
  color: #b5b5b5;
}

input[type="radio"]+label:hover,
input[type="checkbox"]+label:hover {
  color: #000000;
}

.filter-btn {
  width: 154px;
  margin-top: 48px;

  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #000000;

  background-color: #f1f1f1;
}

.catalog-content-right {
  float: right;
  width: 560px;
  margin-bottom: 0;
  padding: 0;
}

.sorting {
  margin-bottom: 18px;
}

.sorting span {
  display: inline-block;
  margin: 0;
  margin-right: 40px;
  padding: 0;

  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
}

.sorting a {
  display: inline-block;
  margin: 0;
  margin-right: 40px;
  padding: 0;

  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
  text-decoration: none;  
}

.sorting-option {
  color: #b2b2b2;

  border-bottom: 1px dotted #00ca74;
  cursor: pointer;
}

.sorting-option:hover {
  color: #000000;

  border-bottom: 1px solid #00ca74;
}

.sorting-option:active {
  color: #000000;

  border-bottom: none;
}

.sorting a:nth-child(4) {
  margin-right: 80px;
}

.sorting a:nth-child(5),
.sorting a:nth-child(6) {
  width: 4px;
  margin-right: 0;
  margin-left: 8px;

  font-size: 23px;
  vertical-align: top;
}

.icon-down-dir,
.icon-up-dir {
  color: #c1c1c1;
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: 500;
  vertical-align: bottom;

  cursor: pointer;
}

.icon-down-dir {
  color: #00ca74;
}

.icon-down-dir:hover,
.icon-up-dir:hover {
  color: #b5b5b5;
}

.icon-down-dir:active,
.icon-up-dir:active {
  color: #000000;
}

.catalog-content-item {
  margin-bottom: 0;
  padding: 0;
}

.item {
  position: relative;

  display:inline-block;
  float: left;
  width: 240px;
  height:240px;

  padding-top:30px;
  margin-bottom: 80px;
  margin-right: 80px;

  background-color: #f1f1f1;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.item:hover{
  background:#797979;
}

.item:nth-child(2n) {
  margin-right: 0;
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;

  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.item::after {
  left: 28px;
}

.item-img {
  position: relative;
}

.item-img::before {
  content: "";
  position: absolute;
  left: 46px;
  top: -20px;

  width: 10px;
  height: 10px;

  background: #ffffff;
  border-radius: 50%;
}

.item-content {
  position: absolute;
  top: 50px;
  left: 20px;

  display: none;
  width: 200px;
  height: 200px;

  background: #ffffff;
}

.item-title {
  display: block;
  margin: 30px 0 15px 0;
  padding: 0;

  font-size: 18px;
  text-align: center;
  text-decoration: none;
  line-height: 22px;
  color: #000000;
}

.item-description {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.btn-item {
  width: 140px;
  margin: 0 30px;

  font-size: 18px;

  background-color: #fb565a;
}

.btn-item:hover {
  background-color: #d6494d;
}

.btn-item:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.3);
}

.item:hover .item-content {
  display: block;
}

.paginator a{
  display: inline-block;
  width: 38px;
  padding: 10px 0;
  margin-right: 5px;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  vertical-align: baseline;

  background: #f1f1f1;
  border-radius: 3px;
}

.paginator .current-page {
  width: 35px;
  padding: 8px 0;

  border: 2px solid #f2f2f2;
  background: #ffffff;
  pointer-events: none;
}

.paginator .next-page {
  width: 140px;
}

.paginator a:hover {
  background: #e5e5e5;
}

.paginator a:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

 /* === bottom === */
.main-contact {
  min-width: 1200px;
  height: 416px;
  margin-bottom: 78px;

  background-image: url("../img/cont-map.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color:  #e9e5dc;
  background-size: cover;
}

.main-contact-address {
  float: left;
  margin: 90px 0;
  width: 228px;
  height: 240px;
  padding: 0;
  padding-left: 22px;

  background-color: #ffffff;
}

.main-contact-address div {
  margin: 0;
  padding: 0;
  margin-top: 20px;

  line-height: 30px;
  text-transform: uppercase;  
}

.main-contact-address p {
  margin: 0;
  margin-top: 18px;
  padding: 0;

  line-height: 20px;
  color: #666666;
}

.btn-mail {
  display: block;
  box-sizing: border-box;
  width: 200px;
  margin: 0;
  margin-top: 25px;
  padding: 10px 30px;

  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background: #fb565a;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn-mail:hover {
  color: #ffffff;

  background-color: #d6494d;
}

.btn-mail:active {
  color: #ffffff;

  background-color: #b63538;
  box-shadow:inset 0 3px 0 rgba(0,0,0,0.3);
}

.main-footer {
  min-height: 140px;
  margin: 0 auto;

  color: #000000;

  background-color: #ffffff;
}

.footer-social {
  float: left;
  width: 320px;
  min-height: 60px;
}

.footer-social a {
  font-size: 0;
  text-decoration: none;
}

.footer-offer {
  float: left;
  width: 550px;
  min-height: 70px;
}

.footer-offer div {
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
}

.footer-offer p {
  margin-top: 8px;
}

.social-btn {
  position: relative;
  z-index: 1;

  float: left;
  margin-right: 30px;
  width: 60px;
  height: 60px;

  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;

  border-radius: 50%;
  background: #e1e1e1;
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:active {
  box-shadow: inset 0 3px 0 0 #b63e42;
  background-color: #d6494d;
}

.social-btn-vk::before {
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 100;
  content: "\76";

  display: inline-block;
  width: 20px;
  margin-right: 4px;
  margin-left: 4px;

  font-family: symbols-nerds;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
  color: #ffffff;
}

.social-btn-fb::before {
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 100;
  content: "\66";

  display: inline-block;
  width: 20px;
  margin-right: 4px;
  margin-left: 4px;

  font-family: symbols-nerds;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
  color: #ffffff;
}

.social-btn-inst::before {
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 100;
  content: "📷";

  display: inline-block;
  width: 20px;
  margin-right: 4px;
  margin-left: 4px;

  font-family: symbols-nerds;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
  color: #ffffff;
}

 /* pop-up */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  width: 630px;
  height: 415px;
  box-sizing: border-box;
  margin-top: -207px;
  margin-left: -315px;
  padding: 55px 90px 0 80px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
  box-shadow:0 0 45px rgba(0, 0, 0, 0.4);
}

.modal-content .left-column-form {
  float: left;
}

.modal-content .right-column-form {
  float: right;
}

.footer-form{
  clear: both;
}

.modal-content input {
  width: 204px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;

  outline: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal-content input:hover {
  border: 2px solid #a2a9ac;
}

.modal-content input:focus {
  border: 2px solid #56bffb;
}

.modal-content textarea {
  width: 436px;
  height: 105px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 15px;

  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
  color: #000000;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.modal-content textarea:hover {
  border: 2px solid #a2a9ac;
}

.modal-content textarea:focus {
  border: 2px solid #56bffb;
}

.modal-content .no-margin {
  margin-right: 0;
}

.modal-content .btn-form {
  width: 460px;
  padding: 10px;
  margin-top: 40px;

  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;

  background: #fb565a;
  border-radius: 5px;
  outline: none;
  border: none;
}

.modal-content .btn-form:hover {
  background-color: #d6494d;
  color: #ffffff;
}

.modal-content .btn-form:active {
  background-color: #b63538;
  color: #ffffff;
  opacity: 1.0;
  box-shadow:inset 0 3px 0 rgba(0,0,0,0.3);
}

.modal-content .btn-form-2 {
  position: absolute;
  top: 7px;
  right: 7px;

  width: 41px;
  height: 41px;

  background-image: url("../img/mod-cross.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color:  #ffffff;
  outline: none;
  border: none;
}

.modal-content {
  display: none;
}

.modal-content-show {
  display: block;

  animation: bounce 1s;
}

@keyframes bounce {
  0% {
  transform: translateY(-1500px);
  }

  70% {
  transform: translateY(50px);
  }

  100% {
  transform: translateY(0);
  }
}