/*
  В целом по стилям все отлично
  Единственное, присмотрись пожалуйста к материалам, которые вам дает академия по поводу того, как правильно оформлять код - https://up.htmlacademy.ru/htmlcss/12/module/2/articles
  Стиль кода академии - https://htmlacademy.github.io/codeguide/

  Я про Порядок свойств
  Все что касается шрифта (font-правила) было бы логичнее расположить рядом
  
*/

body {
  font-style: normal;
  font-weight: normal;    
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto Medium", Arial, sans-serif;
  
  color: #000000;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: "Roboto Medium", Arial, sans-serif;
  
  color: #000000;
}

h2 {
  font-style: normal;
  font-weight: normal;  
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto Medium", Arial, sans-serif;
  
  color: #000000;
}